apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener-deployment
  labels:
    app: url-shortener
spec:
  replicas: 3
  selector:
    matchLabels:
      app: url-shortener
  template:
    metadata:
      labels:
        app: url-shortener
    spec:
      serviceAccountName: url-shortener
      containers:
      - name: url-app
        image: "754056705747.dkr.ecr.eu-west-2.amazonaws.com/url-app:d561123" 
        ports:
        - containerPort: 8080
        env:
        - name: TABLE_NAME
          value: "url-shortener"
        - name: AWS_DEFAULT_REGION
          value: "eu-west-2"
