apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-2048
  labels:
    app: game-2048
spec:
  replicas: 3
  selector:
    matchLabels:
      app: game-2048
  template:
    metadata:
      labels:
        app: game-2048
    spec:
      containers:
      - name: game-2048
        image: 754056705747.dkr.ecr.eu-west-2.amazonaws.com/url-app:478b6ec
        ports:
        - containerPort: 80
