apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-api
  labels:
    app: devops-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-api
  template:
    metadata:
      labels:
        app: devops-api
    spec:
      containers:
      - name: devops-api
        image: 754056705747.dkr.ecr.eu-west-2.amazonaws.com/url-app:38f794be7d94aa8e56aebaaeba5b726c7f83dadf
        ports:
        - containerPort: 8080
